# Build Folders
bin/
obj/
.vs/

# User Files
*.user
*.suo
*.userosscache
*.sln.docstates

# Logs
*.log

# Temporary Files
*.tmp
*.temp
*.cache

# Others
*.pdb
*.mdb
*.dbmdl
*.bak

# OS generated
.DS_Store
Thumbs.db
ehthumbs.db
